#clientes li {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10%;
    gap: 10%;
    border: 1px solid black;
    text-align: center;
}


.varchar{
    color: blue;
}


main{
    max-width: 80vw;
    margin: auto;
    justify-content: center;
}


.delete:hover{
    cursor: pointer;
}

td{
text-align: center;
}